<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiagnoseMe</title>
</head>
<body>
    <h1>DiagnoseMe - Symptom Checker</h1>
    
    <form method="post" action="/">
        <fieldset>
            <legend>Select Symptoms:</legend>
            {% for symptom in symptoms %}
                <label>
                    <input type="checkbox" name="symptoms" value="{{ symptom }}">
                    {{ symptom }}
                </label><br>
            {% endfor %}
        </fieldset>
        
        <br>
        
        <input type="submit" value="Submit">
    </form>

    {% if data %}
        <h2>Scraped Data:</h2>
        {% for entry in data %}
            <h3>{{ entry['title'] }}</h3>
            <ul>
                {% for link in entry['links'] %}
                    <li><a href="{{ link[1] }}" target="_blank">{{ link[0] }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
</body>
</html>



